.button {
  display: inline-block;
  border: 0;
  background-color: var(--color-550);
  border-radius: 6px;
  padding: 6px 16px;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.02em;
  color: var(--text-700);
  cursor: pointer;
  transition: background-color 100ms ease-in, color 100ms ease-in;
}

.button:hover {
  background-color: var(--color-700);
  color: var(--text-850);
}

.button.compact {
  padding: 4px 12px;
  font-size: 0.67rem;
  background-color: var(--color-300);
  color: var(--text-550);
}

.button.compact:hover {
  background-color: var(--color-450);
  color: var(--text-700);
}

.card {
  background-color: var(--color-250);
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
}

a.card {
  cursor: pointer;
  text-decoration: none;
  transition: all 150ms ease-in;
}

a.card:hover {
  background-color: var(--color-300);
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);
}

.card > header {
  height: 40px;
  display: grid;
  gap: 0.2rem 1rem;
  grid-template-columns: 40px auto min-content;
  grid-template-rows: 20px auto;
}

.card > header > img {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: var(--color-500);
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.card > header > h3 {
  align-self: flex-end;
  grid-column: 2;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #c0c8d8;
}

.card > header > h5 {
  grid-column: 2;
  grid-row: 2;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #7888ab;
}

.card > header > span {
  grid-column: 3;
  grid-row: 1 / 2;
}

.project_nav {
  height: 100%;
  width: 100%;
  max-width: 775px;
  margin-left: 116px;
  display: flex;
  padding: 0 1rem;
}

.project_nav > a {
  height: 100%;
  width: 100px;
  text-align: center;
  text-decoration: none;
  flex-direction: column;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-800);
}

.project_nav > a:global(.active) {
  background-color: var(--color-350);
  color: var(--text-900);
}

.project_nav > a:hover {
  background: var(--color-400);
}

.project_nav > a > img {
  margin-bottom: 0.5rem;
}

.branch_summary {
  grid-column: 1 / span 4;
  display: grid;
  gap: 3px 1rem;
  grid-template-columns: max-content auto max-content max-content 32px;
  grid-template-rows: 20px 15px;
  background-color: var(--color-200);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.branch_summary.active {
  background-color: var(--color-300);
}
.branch_summary > h1 {
  grid-column: 1;
  grid-row: 1;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-800);
}

.branch_summary > h2 {
  font-size: 12px;
  font-weight: 500;
  color: var(--text-550);
}

.branch_summary > h2,
.branch_summary > h4 {
  grid-row: 2;
}

.branch_summary > h5 {
  grid-row: span 2;
  display: inline-flex;
  height: 100%;
  align-items: center;
}

.branch_summary > .user {
  display: flex;
  align-items: center;
}

.branch_summary > .user > img {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border: 1px solid var(--text-800);
  margin-right: 6px;
}

.branch_summary > .user > h3 {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-850);
}

.branch_summary > h4 {
  font-size: 12px;
  font-weight: 500;
  color: var(--text-550);
  padding-left: 24px;
}

.branch_summary > h5 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-600);
}

.branch_summary > h5 > em {
  color: var(--text-850);
}
